{% extends 'core/base.html' %}

{% block content %}
    <h1 class="title">Profile</h1>

    {% if userprofile.is_employer %}

        {% if userprofile.name == False %}<p>Please fill in the company name to be able to create job postings.</p>{% endif %}
        {% if userprofile.company_fiscal_code == False %}<p>Please fill in the company unique identifier for invoicing.</p>{% endif %}

        {% if userprofile.name %}<b>Company name: </b>{{ userprofile.name}}<br>{% endif %}
        <b>Address: </b>
        {% if userprofile.address_street %}{{ userprofile.address_street}}, {% endif %}
        {% if userprofile.address_zipcode %}{{ userprofile.address_zipcode}}, {% endif %}
        {% if userprofile.address_city %}{{ userprofile.address_city}}, <br>{% endif %}
        {% if userprofile.address_country %}{{ userprofile.address_country}}<br>{% endif %}
        <b>Company size: </b>{{ userprofile.get_company_size_display }}<hr>
        {% if userprofile.email %}<b>Email: </b>{{ userprofile.email}}<br>{% endif %}
        {% if userprofile.phone %}<b>Contact phone: </b>{{ userprofile.phone}}<br>{% endif %}
        {% if userprofile.company_fiscal_code %}<b>Company unique identifier: </b>{{ userprofile.company_fiscal_code}}<br>{% endif %}
        {% if userprofile.company_description %}<p>{{ userprofile.company_description}}</p><br>{% endif %}   

    {% else %}
        {% if userprofile.name == False %}<p>Please fill in your name to be able to apply for jobs.</p>{% endif %}
        

        {% if userprofile.name %}<b>Name: </b>{{ userprofile.name}}<br>{% endif %}
        {% if userprofile.person_last_name %}<b>Name: </b>{{ userprofile.person_last_name}}<br>{% endif %}
        <b>Sex: </b>{{ userprofile.get_person_sex_display }}<br>
        <b>Address: </b>
        {% if userprofile.address_street %}{{ userprofile.address_street}}, {% endif %}
        {% if userprofile.address_zipcode %}{{ userprofile.address_zipcode}}, {% endif %}
        {% if userprofile.address_city %}{{ userprofile.address_city}}, <br>{% endif %}
        {% if userprofile.address_country %}{{ userprofile.address_country}}<br>{% endif %}<hr>

        <b>Drivers license: </b>
        {% if userprofile.person_drivers_license %}
            <i class="far fa-check-square"></i>
        {% else %}
            <i class="far fa-square"></i>
        {% endif %}
        <br>

        <b>Interested in remote work offers: </b>
        {% if userprofile.person_available_for_remote == True %}
            <i class="far fa-check-square"></i>
        {% else %}
            <i class="far fa-square"></i>
        {% endif %}
        <br>

        <b>Interested in part time/project work offers: </b>
        {% if userprofile.person_available_for_parttime == True %}
            <i class="far fa-check-square"></i>
        {% else %}
            <i class="far fa-square"></i>
        {% endif %}
        <br>

        <b>Available for relocation: </b>
        {% if userprofile.person_available_for_relocation == True %}
            <i class="far fa-check-square"></i>
        {% else %}
            <i class="far fa-square"></i>
        {% endif %}
        <br>

        <b>Available for business travel: </b>
        {% if userprofile.person_available_for_businesstravel == True %}
            <i class="far fa-check-square"></i>
        {% else %}
            <i class="far fa-square"></i>
        {% endif %}
        <br>

    {% endif %}
{% endblock %}