{% extends 'core/base.html' %}

{% block content %}
    <div id="apply-job-app">
        <h1 class="title">Apply for job - {{ job.title }}</h1>
        <form v-on:submit="validateForm" method="post" action=".">
            {% csrf_token %}

            <!-- Error notifications -->
            {% if form.errors %}
                {% for error in form.errors %}
                    <div class="notification is-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="notification is-danger" v-if="errors.length" v-cloak>
                <p v-for="error in errors">
                    [[ error ]]
                </p>
            </div>

            <!-- Form -->
            <div class="field">
                <label>Cover letter</label>

                <div class="control">
                    <textarea class="textarea" name="cover_letter" id="id_cover_letter"></textarea>
                </div>
            </div>             
            
            <div class="field">
                <label>Experience</label>

                <div class="control">
                    <textarea class="textarea" name="experience" id="id_experience" v-model="experience"></textarea>
                </div>
            </div> 

            <div class="field">
                <div class="control">
                    <button class="button is-success">Submit</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const ApplyJobApp = {
        data() {
            return {
                short_description: '',
                experience: '',
                errors: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                this.errors = []
                this.experience = tinymce.get('id_experience').getContent()

                if (this.experience === '') {
                    this.errors.push('The experience field can\'t be empty')
                }

                if (this.errors.length) {
                    e.preventDefault()

                    return false
                } else {
                    return true
                }
            }
        }
    }

    Vue.createApp(ApplyJobApp).mount('#apply-job-app');
</script>

{% load static %}
<script src="/static/tinymce/tinymce.min.js"></script>
<script src="{% static 'core/main.js' %}"></script>

{% endblock %}