{% extends 'core/base.html' %}

{% block content %}
    <h1 class="title">{{ job.title }} ({{ job.get_status_display }})</h1>

    <p class="is-size-4">{{ job.short_description }}</p>

    <p>{{ job.long_description|safe }}</p>

    <b>Company name: </b>{{ job.created_by.name}}<br>
    {% if job.created_by.address_street %}<b>Company address: </b>{{ job.created_by.address_street}}<br>{% endif %}
    {% if job.created_by.address_zipcode %}<b>Company zipcode: </b>{{ job.created_by.address_zipcode}}<br>{% endif %}
    {% if job.created_by.address_city %}<b>Company city: </b>{{ job.created_by.address_city}}<br>{% endif %}
    {% if job.created_by.address_country %}<b>Company country: </b>{{ job.created_by.address_country}}<br>{% endif %}
    <b>Company size: </b>{{ job.created_by.get_company_size_display }}<br>
    {% if job.created_by.company_description %}<p>{{ job.created_by.company_description}}</p><br>{% endif %}   

    <hr>

    {% if not request.user.is_authenticated == True %}
        {% if job.status == 'active' %}
                <a href="{% url 'apply_for_job' job.id %}" class="button is-success">Apply for job</a>
        {% else %}
            <p>This job is not available anymore!</p>
        {% endif %}
    {% else %}
        {% if userprofile.is_employer == False %}
            {% if job.status == 'active' %}
                {% if request.user.userprofile.is_profile_completed == True %}
                    <a href="{% url 'apply_for_job' job.id %}" class="button is-success">Apply for job</a>
                {% else %}
                    <p class="has-text-danger">Please know that you have to complete your profile in order to apply for a job.</p>
                {% endif %}
            {% else %}
                <p>This job is not available anymore!</p>
            {% endif %}        
        {% endif %}    
    {% endif %}
{% endblock %}



